
#navbar {
    height: 48px;
    margin-left: 32px;
}

.full-height {
    height: 100vh;
}

.navbar-esquerda{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    width: 56px !important;
}

.navbar-esquerda-segundo-li{
    margin-top: 44px;
}

.navbar-esquerda-outros-li{
    margin-top: 24px;
}

.borda-inferior{
    box-shadow: 0px 10px 10px -10px rgba(0, 0, 0, 0.5);
}

.logout-icon {
    display: inline-block;
    background-color: #E9511D;
    border-radius: 50%;
    width: 30px;
    height: 30px;
    text-align: center;
    line-height: 30px;
    
}
  
.logout-icon i {
    color: white;
    font-size: 14px;
}
  